{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% block content %}
    <p>Ran {{ result.testsRun }} tests<p>
    {% if failures %}
      {% blocktrans count failures|length as count %}
      <p>There is {{ count }} failure:</p>
      {% plural %}
      <p>There are {{ count }} failures:</p>
      {% endblocktrans %}
      <ul>
      {% for test_key, test in failures.items %}
      <li>
        <b>{{ test.name }}</b>: {{ test.message|safe }}<br>
        <pre><code>{{ test.traceback|safe }}</code></pre>
      </li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endblock content %}
  </body>
</html>
